.face {
  fill: gold;
}

.mouth {
  stroke: #000;
  stroke-width: 6px;
  stroke-linecap: round;
  fill: none;
}

.left-eyebrow {
  transform-origin: 100px 82px;
  transform: rotate(80deg);
  transition: all .5s linear;
}

.right-eyebrow {
  transform: rotate(100deg);
  transform-origin: 156px 82px;
  transition: all .5s linear;
}

.smiley:hover .left-eyebrow {
  transform: rotate(100deg);
}

.smiley:hover .right-eyebrow {
  transform: rotate(80deg);
}
